@import url('https://fonts.googleapis.com/css?family=Comfortaa');
@import url('https://fonts.cdnfonts.com/css/garet');

body {
  margin: 0;
  font-family: 'Comfortaa';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

p {
  margin: 0px;
}

h1 {
  margin: 0px;
}